<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.socialmarket">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ForTwitter"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".ForSpotify"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".GooglePlus"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Foryoutube"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Snapchat"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Linkedin"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ForInstagram"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ForFacebook"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".SocialIcons" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>